body {
    display: flexbox;
    height: auto;
    width: 100%;
    background-color: none;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; overflow-x:auto;
}      

h1 {
    font-size: 1.5em; font-weight:bold;
    font-family: 'Segoe Script', 'Segoe UI', Arial, Helvetica, sans-serif;
    font-style: normal; text-align: left;
    color: #107896; 
    text-transform: uppercase; text-decoration: none;
}

h2 {
    font-size: 1.5em; font-weight:normal;
    font-family: 'Segoe Script', 'Segoe UI', Arial, Helvetica, sans-serif;
    font-style: normal; text-align: left;
    color: #107896; font-weight: bold;
    text-decoration: none;
}

h3 {
    font-size: 1.3em; font-weight: bold;
    font-family: 'Segoe Script', 'Segoe UI', Arial, Helvetica, sans-serif;
    font-style: normal; text-align: left;
    color: #107896;
}

h4 {
    font-size: 1.5em; font-weight: bold;
    font-family: 'Segoe Script', 'Segoe UI', Arial, Helvetica, sans-serif;
    font-style: normal; text-align: left;
    color: #107896;
}

h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em; font-weight:700;
    color: #107896; text-align:justify;
}

p {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    color: #107896; text-align: justify;
    line-height: 1.5em;
}

.header {
    width: 95%;
    margin-top: 1.5vh;
    margin-left: auto; margin-right: auto;
    height: 0.5vh;
    background-color: none;
}

.menuwrap {    
    width: 100%;
    height: 15vh;
    margin-top: 1.5vh; margin-bottom: 1.5vh;
    padding-top: 1vh; padding-bottom: 1vh;
    background-color: #fff;
}

.topnav a {
    display: flexbox;
    flex-direction:row;
    background-position: center;
    background-color: none;
    font-family: 'Segoe Script', Segoe UI, Arial, Helvetica, sans-serif;
    font-style:normal;
    color: #107896;
    text-decoration: none;
    align-content:flex-start;
}

.logo-left:hover {
	transform: scale(1.4);
    transition: transform 1s;
    align-content: center;
}

.logo-left {
    margin-top: -0.625vh;
    margin-left: 5vw;
    margin-right: 10vw;
}

.nav {
    margin-left: 0.5vw; margin-right: 0.5vw;
    padding-left: 0.5vw; padding-right: 0.5vw;
}

.nmenu {
    margin-top: 2vh;
    font-size: 1.8em; font-weight: bold;
    font-family: 'Segoe Script', Segoe UI, Arial, Helvetica, sans-serif;
    font-style:normal;
    color: #107896;
    text-transform: uppercase;
    text-align: center;
    float: inline-start;
}

ol.topnav li.logo-left {
    float: left; 
}
    
ol.topnav {
    list-style-type: none;
    background-color: none;
    text-align: center;
}
      
ol.topnav li {
    float: left;
}
      
ol.topnav li a {
    color: #107896;
    text-align: left;
    padding-bottom: 1.75vh; padding-left: 1vw; padding-right: 1vw;
    text-decoration: none;
}
       
@media screen and (max-width: 239px) {
    ol.topnav li.right, 
    ol.topnav li {float: none;}
}
    
.nav-logo img {
    max-width: 100%;
}
    
.nav:hover {
    color: #961078; font-weight: 400;
    font-style: italic;
}

.main {
    height: auto;
    width: 100%;
    margin-top: 2vh;
    padding-top: 1vh; padding-bottom: 1vh;
}

.pg-indent {
	margin-left: 8vw; margin-right: 8vw;
}

.c-title {
    display:block;
    padding-top: 1vh; padding-bottom: 1vh;
    padding-left: 10vw; padding-right: 10vw;
    margin-top: 5vh; margin-bottom: 5vh;
}

.contact {
    display: inline-block;
    width: auto;
    height: 15vh;
    padding-left: 10vw; padding-right: 10vw;
    margin-top: 1vh; margin-bottom: 1vh;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    color: #107896; text-align: justify;
    line-height: 1.5em;
}

.c-images img {
    float: left;
    margin-top: 12vh;
    margin-left: 1vw; margin-right: 1vw;
    box-shadow:  1px 2px 2px #cbed55;
    border-radius: 10%;


}
----------------
* {
    box-sizing: border-box;
  }



/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  
}

input[type=submit] {
    background-color:#961078;
    color: #cbed55;
    font-size: 0.75em;
    padding: 1.5em 2.5em;
    border-radius: 1.5em;
    cursor: pointer;
    }

input[type=submit]:hover {
  background-color: #55cbed;
  color: #961078;
}

/* Style the container/contact section */
.container {
  background-color: #107896;
  padding: 10px;
  border-radius: 1.5em;
}



/* Create two columns that float next to eachother */
.column {
  float: right;
  width: 50%;
  margin-top: 2vh;
  padding-right: 2em;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  color: #cbed55; text-align: left;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* @media screen (min-width: 380px) {
    lp-images {  
}
} */


ul {
    list-style-type: square;
    list-style-position: outside;
    padding-left: 1.5vw;
}

ul li {
    padding-bottom: 1.2vh;
    margin-left: 0vw;
}

li {
    padding-left: 1.5vw;
    margin-left: 6vw;
}

li::before {
    padding-bottom: 0.3em;
}
.footerbreak {
    display: flexbox;
    width: 100%;
    margin-top: 3vh; margin-bottom: 0vh;
    /* margin-left: auto; margin-right: auto; */
    height: 28vh;
    background-color: #cbed55;
    border-radius: 1.5em;
}

.footermain {
    display: flexbox;  
    width: 95%;
    margin-top:-30vh; margin-bottom: 3vh;
    /* margin-left: auto;  margin-right: auto; */
    padding-top: 0vw; padding-bottom: 0vw; 
    height: 29vh;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 1em; font-weight: 400;
    color: #107896; text-align: justify;
}

.footermain h4 {
    padding-left: 4vw;
}

.footer-nav {
    padding-left: 1.5vw;
    text-decoration: none; list-style-type: none;
    list-style-position: outside;
    color: #107896;
}

.footer-nav:hover {
    font-size: 1.2em; font-weight: 400;
    color: #961078;
    font-style: italic;
}

.footerlower {
    display: flexbox;
    align-items:flex-start;
    width: 100%;
    height: 10vh;
    margin-top: -5vh; margin-bottom: auto;
    padding-top: 0vh; padding-bottom: 0vh; padding-left: 0vw;
    list-style-type: none; align-content: space-between;
    text-decoration: none;
    background-color: #55cbed;
    border-radius: 1.5em;
}

.legal {
    display: flexbox;
    /* align-content:space-bet */
    width: 95%;
    text-decoration: none;
    padding-top: 1vh;
    padding-left: 2vw;
    font-family: 'Segoe Script', 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 1em; font-weight: 400;
    color: #961078;
    text-align: left;
    margin-top: -7vh;
    table-layout: fixed;
    width: 50%;
    white-space: nowrap;
}

.legal td {
    white-space: nowrap;
}

.legalnav {
    align-content:flex-start;
    text-decoration: none;
    padding-left: 0vw;
    font-family: 'Segoe Script', 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 1em; font-weight: 400;
    color: #961078;   
}

.legalnav:hover {
    font-size: 1.1em; font-weight: 500;
    color: #cbed55;
    font-style: italic;
}
